beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
get==0.0.39
gevent==1.2.2
greenlet==0.4.12
html5lib==1.0.1
idna==2.6
lxml==4.9.1
numpy==1.14.0
pandas==0.20.3
pigar==0.7.1
post==0.0.26
public==0.0.65
PyMySQL==0.8.0
python-dateutil==2.6.1
pytz==2017.3
query-string==0.0.28
requests
selenium==3.8.1
six==1.11.0
tqdm==4.19.5
urllib3==1.22
webencodings==0.5.1
